

// <!-- about -->
<section class="about" id="about">
	<!-- <div class="center-text">
		<h2>About <span>Me</span></h2>
	</div> -->
	<div class="content">
	<!-- <div class="about-img">
		<img src="#" alt="">
	</div> -->
   
	<div class="about-text">
		<div class="center-text">
			<h2>About <span>Me</span></h2>
		</div>
		 <h5>Full Stack Web Developer</h5>
		 <p>I am a full stack software engineer. I started my tech career doing computer science, 
			but ended up switching to tech sales. Ifound myself more interested in the tech stack,
			then the sales process. <br>
		</p> 
		<p>

			I ended up pivoting out of sales and into software development. I have found development
			more my style and more enjoyable overall. Now I build websites and applications. I am currently
			learning Kali Linux on the side.
		</p> 
		<!-- <a href="#" class="btn">Hire Me</a> -->
	</div>
	</div>
	</div>

	// <!-- <div class="about-text">
		<h2>I am Product <span>designer</span> <br> & Web Developer</h2>
	</div>
	<div class="exp-area">
		<p class="exp">
			Experience:
			<span>12 Years</span>
		</p>

		<p class="exp">
			Specialty:
			<span>Product</span>
		</p>


		<p class="exp">
			Email:
			<span>something@nothing.com</span>
		</p>

		<p class="exp">
			Freelance:
			<span>Available</span>
		</p>
	</div> -->
	<!-- <a href="#" class="btn">View All Projects</a> -->
</section>