---
import '../styles/global.css'
---

<body></body>
<section class="hero" id="home">
    <div class="main-content" data-aos="fade-in">
        <h4>Hi, There!</h4>
        <h1>I'm <span> Samuel Salbador </span></h1>
        <p>I'm your next web developer. I build great looking applications and websites</p>
        <div class="social">
            <a href="#"><i class="ri-github-fill"></i></a>
            <!-- <a href="#"><i class="ri-linkedIn-fill"></i></a>
            <a href="#"><i class="ri-twitter-fill"></i></a>
            <a href="#"><i class="ri-youtube-fill"></i></a> -->
        </div>
        <div class="main-btn">
            <a href="#portfolio" class="btn">Portfolio</a>
            <!-- <a href="#" class="btn">Hire me</a> -->
        </div>
    </div>

</section>
</body>

