---
import '../styles/global.css'
---


<!-- services -->
		<section class="services" id="services">
			<div class="center-text">
				<h2>My <span>Services</span></h2>
			</div>
	
			<div class="services-content">
				<div class="box">
					<img src="img/s-1.svg" alt="">
					<h3>Software Development</h3>
					<p>
						I am proficient in object oriented programming. Python and Javascript as well as some linux.
					</p>
					<!-- <a href="#">
						Download now
						<i class="ri-arrow-right-line"></i>
					</a> -->
				</div>
	
				<div class="box">
					<img src="img/s-2.svg" alt="">
					<h3>UI/UX Design</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et aut architecto quidem saepe dicta temporibus repellat illum, rerum officia veritatis vero exercitationem eos sint ipsam laborum esse eius expedita rem?</p>
					<a href="#">
						Download now
						<i class="ri-arrow-right-line"></i>
					</a>
				</div>
	
				<div class="box">
					<img src="img/s-3.svg" alt="">
					<h3>UI/UX Design</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et aut architecto quidem saepe dicta temporibus repellat illum, rerum officia veritatis vero exercitationem eos sint ipsam laborum esse eius expedita rem?</p>
					<a href="#">
						Download now
						<i class="ri-arrow-right-line"></i>
					</a>
				</div>
	
			</div>
		</section>